<h1>Search Listings</h1>

<div class="row collapse">
  <div class="small-offset-1 small-10 columns">
    <input type="text" style="border-radius: 15px" value="<%= params[:query] %>" >
  </div>
</div>

<div class="search-results">

</div>