<h1>My City Amigo</h1>
<p>My City Amigo, home of Amigos.</p>
<div class="jumbotron">
  <h3>Verify your phone number to enjoy all the benefits!</h3>
  <%= link_to "Verify Now", user_two_factor_authentication_path, class: "jumbotron", method: :get %>
</div>
