/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.all
 *= require jquery.fileupload-ui
 */

* {
    font-family: 'Signika', sans-serif;

}

body{
    font-family: 'Signika', sans-serif;
}



.top-bar-section ul li > a{
    font-family: 'Signika', sans-serif;
    font-size: 0.85rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Signika', sans-serif;

}


.ted { background-color: #F7F7F7 ;}
.ted:after { background-size: 10px ;}

.progress {
    max-width: 600px;
    margin:    0.2em 0 0.2em 0;
}

.progress .bar {
    height:  1.2em;
    padding: 0.2em;
    color:   white;
    display: none;
}

.banner {
    position: relative;
    overflow: auto;
    height: 400px;
}

.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px; /* choose any height */
}

