<%= render "layouts/header" %>

  <body class="ted pb-pattern o-lines-light">

  <% if flash[:notice] %>
  <div id="notice"><% flash[:notice] %></div>
      <% end %>
  <% #render "layouts/top" %>
<%= render "layouts/navbar" %>
<div class="container">
    <div class="row">
    <div class="large-12 column">
      <%= yield %>
    </div>
    </div>
    <div class="row"><div class="large-12 column">

    </div></div>



</div>

      <hr>
<%= render "layouts/footer" %>
  </body>
</html>

