<%= render "layouts/header" %>
  <body style="background-color: #FEFDFF;">

  <% #render "layouts/top" %>
<%= render "layouts/navbar" %>
      <%= yield %>
  <hr>

<%= render "layouts/footer" %>
  </body>
</html>
