<%= render "layouts/header" %>
  <body class="ted pb-pattern o-lines-light" style="overflow: hidden">

  <% #render "layouts/top" %>
<%= render "layouts/navbar" %>
      <%= yield %>
  <hr>

<%= render "layouts/footer" %>
  </body>
</html>
